<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bank Note Authentication</title>
</head>
    <body style="background-color:darkslateblue;">
    <h1 style="text-align:center;">Bank Note Authentication</h1>
     <div class="form" style="text-align:center;">
        <form action="/form",form method="post">
            <input type="text" name="variance" placeholder="variance"><br><br>
            <input type="text" name="skewness" placeholder="skewness"><br><br>
            <input type="text" name="curtosis" placeholder="curtosis"><br><br>
            <input type="text" name="entropy" placeholder="entropy"><br><br>
            <input type="submit" class="btn btn-primary btn-block btn-large"> </input>
        </form>
         <br><p style="font-size:25px">Note is {{res}}</p><br>
     </div>
    </body>
</html>